html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* You can add global styles to this file, and also import other style files */

.red {
  color: #e35e6b;
}

.v-middle {
  vertical-align: middle;
}

.cancelar {
  background-color: rgb(102, 101, 101);
}

.mat-card {
  background-color: #f0adb4;
}

/* @media (max-width: 1200px) {
  .mat-card {
    width: 100%;
  }
} */

@media screen, (min-width: 600px) and (max-width: 1200px) {
  .mat-card {
    width: 40%;
  }
}
